
<mat-card class="center"  layout-align="center center"><h1 class="p1">Rate The Project</h1>
    <form class="example-form" [formGroup]=  "formValue">
    <mat-form-field class="example-full-width " appearance="outline">
      
        <mat-label>Title</mat-label>
        <input formControlName="title" matInput readonly>
        
      </mat-form-field>
      
      <mat-form-field class="example-full-width " appearance="outline" >
       
        <mat-label>Author</mat-label>
        <input formControlName="author" matInput readonly>
      </mat-form-field>
        
        <mat-label>Description</mat-label>
      <ckeditor [editor]="Editor" formControlName="description" matInput readonly></ckeditor>
      
      <mat-form-field class="example-full-width " appearance="outline">
      
        <mat-label>rating</mat-label>
        
            <ngx-star-rating formControlName="rating">  <input formControlName="rating" matInput ></ngx-star-rating>
            </mat-form-field>
      
      <div mat-dialog-actions>
        <button mat-raised-button color="primary" (click)="addProject()">{{actionBtn}}
            <mat-icon>star</mat-icon> </button>
      </div>
      
    
    </form>
    </mat-card>

