
<mat-card class="center"><h1 class="p1">Edit Your Project</h1>
    <form class="example-form" [formGroup]=  "formValue">
    <mat-form-field class="example-full-width " appearance="outline">
      
        <mat-label>Title</mat-label>
        <input formControlName="title" matInput readonly>
        
      </mat-form-field>
      
      <mat-form-field class="example-full-width " appearance="outline" >
       
        <mat-label>Author</mat-label>
        <input formControlName="author" matInput readonly>
      </mat-form-field>
      <mat-label>Description</mat-label>
      <ckeditor [editor]="Editor" formControlName="description" matInput readonly></ckeditor>
      <mat-form-field class="example-full-width " appearance="fill">
        <mat-label>Start Date</mat-label>
        <input formControlName="start" matInput [matDatepicker]="picker" readonly>
        <mat-hint>MM/DD/YYYY</mat-hint>
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field><br>
      <mat-form-field class="example-full-width " appearance="fill">
        <mat-label>End Date</mat-label>
        <input formControlName="end" matInput [matDatepicker]="picker2" readonly>
        <mat-hint>MM/DD/YYYY</mat-hint>
        <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
        <mat-datepicker #picker2></mat-datepicker>
      </mat-form-field><br>
      <mat-form-field class="example-full-width " appearance="outline">
       
        <mat-label>Contributers</mat-label>
        <input formControlName="contributers" matInput type="number">
      </mat-form-field>
      <div mat-dialog-actions>
        <button mat-raised-button color="primary" (click)="addProject()">{{actionBtn}}
            <mat-icon>library_add</mat-icon> </button>
       
      </div>
      
    
    </form>
    </mat-card>
